@keyframes moute-puto-gat {
    0%{
        transform: translate(0);
    }
    75% {
        transform: translateX(500%);
    }
    100% {
        transform: translate(500%);
    }
}

img {
    width: 20%;
    animation-name: moute-puto-gat;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}