html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10rem auto;
    height: 100%;
    margin: auto;
}

header {
    grid-column: 1/3;
}

iframe {
    height: 100%;
    width: 100%;
}