#container {
    position: absolute;
    right: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu-option {
    border: solid;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}