:root {
    font-family: Arial, Helvetica, sans-serif;
    /*color: peru;*/
}

.title {
    display: inline-block;
    color: rgb(215, 218, 201);
    background-color: rgb(139, 64, 34);
    border-radius: 0.3rem;
    padding: 0.6rem;
    font-family: "serif";
}

body {
    background-color: rgb(221, 226, 219);
}

img {
    display: block;
    width: 25%;
    transition: filter 0.5s;
}

img:hover {
    filter: drop-shadow(0.5em 0.5em 2em #333);
}

/*li a {*/
    /*color: rgb(158, 103, 1);*/
/*}*/

/*a {*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*color: black;*/
    /*background-color: rgb(170, 48, 0);*/
    /*border-radius: 0.2em;*/
    /*padding: 0.2rem;*/
/*}*/
