:root {
    font-family: Arial, Helvetica, sans-serif;
    /*color: peru;*/
}

.title {
    display: inline-block;
    color: rgb(215, 218, 201);
    background-color: rgb(139, 64, 34);
    border-radius: 0.3rem;
    padding: 0.6rem;
    font-family: ubuntu, consolas;
}

body {
    background-color: rgb(221, 226, 219);
}

img {
    display: block;
    width: 15%;
    transition: filter 0.5s;
}

img:hover {
    filter: drop-shadow(0.5em 0.5em 2em #333);
}

li {
    padding: 0.5rem;
}

li a {
    color: orange;
    font-weight: bolder;
}

li a:visited {
    color: orange;
}

a {
    text-decoration: none;
    background-color: rgb(155, 42, 42);
    padding: 0.3rem;
    border-radius: 0.3rem;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}

.weblink:hover {
    background-color: rgba(0,0,0,0);
}

.theader1 {
    background-color: rgb(148, 46, 207);
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.5rem cornflowerblue, 0rem 0rem 0.5rem cornflowerblue;
}

.theader2 {
    background-color: rgb(167, 104, 204);
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.5rem rgb(143, 174, 231), 0rem 0rem 0.5rem rgb(143, 174, 231);
}



td {
    background-color: cadetblue;
    padding: 1rem;
    text-align: center;
}